@use "./defaultCSSTokens.scss"as designTokens;

input {
    padding: designTokens.$defaultInputPadding;
    border-radius: designTokens.$defaultBorderRadius;
    border-color: designTokens.$defaultButtonBackground;
    background-color: designTokens.$defaultButtonColor;
    color: designTokens.$defaultButtonBackground;
}

.btn-primary.full {
    &:disabled {
        background-color: designTokens.$defaultButtonDisabledColor;
        cursor: designTokens.$cursorTypeDisabled;
    }

    &:hover {
        zoom: designTokens.$onHoverValue;
        border-color: none;
    }

    padding: designTokens.$defaultPadding;
    width: 100%;
    margin-top: designTokens.$defaultMarginValue;
    background-color: designTokens.$defaultButtonBackground;
    color: designTokens.$defaultButtonColor;
}